.sidebar-item__container {
    margin-bottom: 10px;
}

.sidebar-item__title {
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
}

.sidebar-item__list,
.sidebar-item__anchor {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-item__list {
    padding-left: 1em;
    // display: flex;
}

// .sidebar-item__list::before {
//     content: '';
//     position: absolute;
//     height: calc(100% - 0.6em);
//     top: 0;
//     left: 1.5em;
//     border-left: 1px dashed #666;
// }

.sidebar-item__anchor {
    padding-left: 1.5em;
    border: 1px dashed black;
    border-width: 0 0 0 1px;
    position: relative;
    margin-bottom: 1em;
    // position: relative;
    // -webkit-box-flex: 0;
    // -ms-flex: 0 0 100%;
    // flex: 0 0 100%;
    // margin: 0.25em 0;
    // padding-left: 1em;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
}

.sidebar-item__anchor:first-child {
    // padding-top: 1em;
}

.sidebar-item__anchor::before {
    content: '';
    position: absolute;
    width: 1em;
    left: 0;
    top: 60%;
    border-bottom: 1px dashed black;
}

.sidebar-item__anchor a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
}

.sidebar-item__anchor.container {
    border-bottom: 0px;
}

.sidebar-item__anchor.empty {
    font-style: italic;
    color: silver;
    border-color: silver;
}

.sidebar-item__anchor p {
    margin: 0;
    background: white;
    position: relative;
    top: 0.5em;
}

.sidebar-item__anchor .sidebar-item__list {
    border-top: 1px dashed black;
    margin-left: -1em;
    padding-left: 2em;
}

.sidebar-item__list .sidebar-item__anchor:last-child .sidebar-item__list {
    border-left: 1px solid white;
    margin-left: -17px;
}